/* Template colors */
$text-gray: #737373;
$text-dark: #000;
$text-light: #fff;
$dark: #000;
$light: #fff;
$white: #fff;
$bg-gray: #F8F8F8;
$border-thin-dark: 1px solid #000;


/* Breakpoints */
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 992px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;

$container-width: 1205px;


