/* Template colors */
$text-gray: #737373;
$text-dark: #000;
$text-light: #fff;
$dark: #000;
$light: #fff;
$white: #fff;
$bg-gray: #F8F8F8;
$border-thin-dark: 1px solid #000;


/* Breakpoints */
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-lg: 992px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;

$container-width: 1205px;



$cross-icon-svg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 18V6' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
$minus-icon-svg:  url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='%23292D32' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
$burger-menu-icon-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 05%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");