
nav {
  max-height: 60px;
  ul {
    margin-left: 90px;
    li {
      margin-right: 26px;
      color: $text-gray;
      a {
        color: $text-gray;
      }
      &.current_page_item {
        color: #000;
        font-weight: bold;
      }
      &::before {
        content: none;
      }
    }
    .navbar .navbar-toggler .icon-bar {
      background-color: #000 !important;
    }
  }
  .navbar-collapse {
    z-index: 10;
    background-color: $light;
  }
}