@media screen and (max-width: $breakpoint-xl) {
  .display-xl {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  nav a.btn.btn-black {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .text-image {
    .group-items {
      margin-left: 100px;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  * {
    font-size: 14px;
  }
  h3 {
    font-size: 30px;
    line-height: 106%;
  }
  .hide-md {
    display: none;
  }
  .show-md {
    display: block !important;
  }
  .text-image {
    .group-items {
      margin-bottom: 30px;
    }
  }
  nav {
    ul {
      margin-left: 0;
      margin-top: 50px;
      margin-bottom: 15px;

      li {
        margin-top: 25px;
        margin-right: 0;
        text-align: center;
        a {
          font-size: 16px;
        }
      }
    }
    .navbar-collapse {
      padding-bottom: 15px;
      position: fixed;
      top: 0;
      right: 0;
      width: 280px; /*example + never use min-width with this solution */
      height: 100%;
      .btn {
        max-width: 150px;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
    .close .navbar-toggler-icon {
      background-image: $cross-icon-svg;
      transition: transform .2s ease-in-out;
      transform: rotate(-135deg);
    }
    .navbar-toggler {
      z-index: 15;
      .navbar-toggler-icon {
        font-size: 18px;
      }
    }
  }
  .carousel {
    .carousel-caption {
      .items-container {
        display: flex;
        flex-direction: column;
      }

      .btn, ul {
        align-self: center;
      }

      h2, p {
        text-align: center;
        max-width: unset;
      }

      ul li {
        margin-top: 0;
      }
    }
    .controls-container .group-controls {
      margin-right: auto;
      margin-left: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  section .accordion {
    margin-top: 45px;
  }
  footer {
    .btn {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {

}