* {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 136%;
  color: $text-dark;
}
a:visited {
  color: unset;
}
a {
  color: $text-dark;
  text-decoration: none;
}
a:hover {
  color: $text-dark;
}
p {
  margin-bottom: 5px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container,
.container-fluid {
  max-width: $container-width;
}
.navbar {
  padding-top: 9px;
  padding-bottom: 9px;
}
.navbar-light {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 05%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
}
.post, .page {
  margin: 0;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  max-width: 150px;
  width: 100%;
  margin-right: 10px;
  color: $text-dark;
  border: $border-thin-dark;
  height: 45px;
  padding-left: 15px;
}
select {
  border: $border-thin-dark;
  max-width: 150px;
  margin-right: 10px;
  width: 100%;
  padding-left: 15px;
}